/* HTML TAGS */
body {
  background-color: #689b8a;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  font-size: large;
  padding: 0;
  margin: 0;
}
h3 {
  color: white;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  justify-self: center;
  width: max-content;
  border: 2px solid blue;
  background-color: burlywood;
}
.logo img {
  width: 80px;
  height: 80px;
  display: inline;
}
figcaption {
  color: white;
  font-weight: 500;
  font-size: large;
}
ul {
  list-style-type: none;
  margin: 0; /*Removes default top/bottom margin*/
  padding: 0; /*Removes default left padding*/
}

a {
  text-decoration: none;
  color: black;
}
footer {
  background-color: white;
  color: chocolate; /* or #D2691E */
}

/* CLASSES STYLES */
.sold-out {
  color: #901e3e;
}
.container {
  background-color: wheat;
  border: 12px;
  width: 200px;
  height: max-content;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin: 10px;
}
.order {
  margin-bottom: 30px;
}

/* ID STYLES */
#premium {
  color: black;
}
/* available style */
.available {
  color: #8abb6c;
}
.logo {
  display: flex;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
#more-container {
  flex: 2;
}
